body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f2f5;
}

.box {
  width: 300px;
  margin: 100px auto;
  padding: 30px 25px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.box h2 {
  margin-bottom: 20px;
  color: #333;
}

.box input , .box select{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}



.box button {
  width: 100%;
  padding: 10px;
  background-color: #bcbec0;
  border: none;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.box button:hover {
  background-color: #dadde0;
}

.box p {
  margin-top: 15px;
  color: #e8dcdc;
  font-size: 14px;
}
