.home-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 150px;
}

.home-buttons button {
  padding: 16px 36px;           
  background-color: #343a40;    
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
}

.home-buttons button:hover {
  background-color: #495057;
 
}
